
spider2-world/evaluation_suite/*
spider2-world/release_data/spider2c.jsonl
spider2-world/evaluation_suite/gold/spider2c_eval.jsonl
get_doc.py
get_bigquery_schema.py
.vscode/*

spider-agent/logs/*
spider-agent/output/*
!spider-agent/logs/README.md
!spider-agent/output/README.md

spider-agent/bigquery_credential.json
spider2/bigquery_credential.json
spider2-world/bigquery_credential.json

spider2/evaluation_suite/*



!spider2/evaluation_suite/README.md
!spider2/evaluation_suite/gold/
!spider2/evaluation_suite/bigquery_credential.json
!spider2/evaluation_suite/evaluate.py
!spider2/evaluation_suite/spider2sql_eval_config_file.py


# Do not ignore specific files and directories
!spider2-world/evaluation_suite/README.md
!spider2-world/evaluation_suite/bigquery_credential.json
!spider2-world/evaluation_suite/evaluate.py
!spider2-world/evaluation_suite/gold/
!spider2-world/evaluation_suite/eval_utils.py
!spider2-world/evaluation_suite/example_submission_folder/


# Byte-compiled / optimized / DLL files
**/__pycache__/
**/launch.json

*.DS_Store
*.pyc



# Dail-SQL
spider2-baselines/DailSQL/third_party/
spider2-baselines/DailSQL/vector_cache/

spider2-baselines/DailSQL/preprocessed_data/*
!spider2-baselines/DailSQL/preprocessed_data/spider2_preprocess.py
spider2-baselines/DailSQL/postprocessed_data/*
!spider2-baselines/DailSQL/postprocessed_data/spider2_postprocess.py


# CodeS
spider2-baselines/CodeS/sic_ckpts/
spider2-baselines/CodeS/SimCSE/
spider2-baselines/CodeS/preprocessed_data/*
!spider2-baselines/CodeS/preprocessed_data/spider2_preprocess.py
spider2-baselines/CodeS/postprocessed_data/*
!spider2-baselines/CodeS/postprocessed_data/spider2_postprocess.py

# yuxiao's tmp code
spider2-baselines/yyx_tmp/

**/toy*.json
**/yyx_run.sh
**/0825*.json
**/subset*.json
**/yyx*.sh
**/(0824的135题版本)spider2-sql.json
**/subset*.json
**/run_check.sh